<!DOCTYPE html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <nav id="top_bar">
        <a href="/homepage"><h1 id = "Blogr">Blogr</h1></a>
        {% if current_user.is_authenticated %}
        <div class="top_buttons">
            <a href="/profile"><button class = "button nav_button">Profile</button></a>
            <a href="/logout"><button class = "button nav_button">Logout</button></a>
        </div>
        {% endif %}
        {% if not current_user.is_authenticated %}
        <a href="login_page.html"><button class = "button" class = "nav_button">Login</button></a>
        {% endif %}
    </nav>

    
    <div id="container">
    {% block body %}{% endblock %}
    </div>
</body>
