{% extends 'base_template.html' %}

{% block body %}

    <div id="login_space">
        <div id="login_title">
            LOGIN
            <a href="{{url_for('signup')}}"><button id="signup">SIGNUP</button></a>
        </div>  
        <div id="login_inputs">
            <form action="/login_attempt" method="post">
                <input name = "username" class= "input" placeholder="USERNAME"><br>
                <input name = "password" class="input" type="password" placeholder="PASSWORD"><br>
                <button id="submit">SUBMIT</button>
            </form>
        </div>
    </div>

{% endblock %}