{% extends 'base_template.html' %}
{% block body %}

    <div id="upper_profile_area">
        <div id="profile_name_avatar">
            <div id="avatar">Profile picture</div><br>
            <div id="profile_name">{{name_of_user}}</div>
        </div>
        <div id="create_post">
            <h2>Create Post</h2> 
            <h4 style="margin-bottom: 0px;">Title</h4>
            <form action="/createpost" method="post">
                <input name = "title" id="post_title" rows="10" cols="100" required maxlength="50"/><br/>
                <h4 style="margin-bottom: 0px;">Content</h4>
                <textarea name = "content" id="create_post_input" rows="10" cols="100" required maxlength="300"></textarea><br>
                <button class = "button" id="submit_post">SUBMIT</button>
            </form>
        </div>
    </div>
    <div id="lower_profile_area">
        <div class="line">_______________________________________________________________________________________________________________________________</div>
        <h1 id="your_posts">Your Posts</h1>
        {% for post in posts %}
        <div class="post_card">
            <div class="post_card_text">
                <h3>{{post.title}}</h3>
                <p class="post_card_content">{{post.content}}</p>
            </div>
            <div class="post_card_buttons">
                

                    <button class="edit_button button" data-post = "{{jsonify(post)}}">edit</button>                   
                    <form action= "/delete/{{post.id}}" method = "post">
                        <button class="delete_button button">Delete</button>
                    </form>

                </div>
                
                
            </div>
        {% endfor %}
    </div>
    <dialog id="edit_popup"> 
        <div id="edit_post_dialog">
            <h2>edit Post</h2> 
            <h3 style="margin-bottom: 0px;">Title</h3>
            <form id="edit_form" action="/editpost/" method="post">
                <input name = "title" id="edit_title" rows="10" cols="100" required/><br/>
                <textarea name = "content" id="edit_post_input" style="margin-top: 15px;" rows="10" cols="100" required></textarea><br>
                <button class = "button" id="submit_post">SUBMIT</button>
            </form>
        </div>
    </dialog>
    <script>
        let dialogEl = document.getElementById("edit_popup")
        let editFormEl = document.getElementById("edit_form")
        let titleEl = document.getElementById("edit_title")
        let contentEl = document.getElementById("edit_post_input")

        let editButtons = document.querySelectorAll(".edit_button")
        for (let button of editButtons) {
            button.addEventListener('click', (e)=>{
                let post = JSON.parse(e.target.dataset.post)
                editFormEl.action = '/editpost/' + post.id
                titleEl.value = post.title
                contentEl.value = post.content
                dialogEl.showModal()
            })     
        }

        
        dialogEl.addEventListener('mousedown', (e)=>{
            if (e.target===dialogEl){
                dialogEl.close()
            }
        })
    </script>

{% endblock %}