{% extends 'base_template.html' %}
{% block body %}

    <div id="signup_space">
        <div id="login_title">
            SIGNUP
            <button id="signup">LOGIN</button>
        </div>  
        <div id="signup_inputs">
            <input id="input" placeholder="COOL NAME"><br>
            <input id="input" placeholder="EMAIL ADDRESS"><br>
            <input id="input" placeholder="USERNAME"><br>
            <input id="input" type="password" placeholder="PASSWORD"><br>
            <input id="input" type="password" placeholder="REPEAT PASSWORD"><br>
            <button id="submit">SUBMIT</button>
        </div>
    </div>

{% endblock %}
